# Keep lib/ for Firebase extension builder
# lib/

# Dependencies
node_modules/

# Local configuration
.env
.env.local

# IDE
.idea/
.vscode/

# OS files
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
